<script src="{{ site.url }}/images/jquery.js"></script>

<div class="post-array" style="display: none;">
[
{%- for post in site.postarray -%}
  {
    "title": "{{ post.title }}",
    "date": "{{ post.date }}",
    "summary": "{{ post.summary }}",
    "link": "{{ post.link }}",
    "path": "{{ post.path }}"
  }
  {%- if site.postarray.size > forloop.index  -%}
  ,
  {%- endif -%}
{%- endfor -%}
]
</div>
<div class="post-paginate" style="display: none;">{{ site.paginate }}</div>
<div class="site-baseurl" style="display: none;">{{ site.baseurl }}</div>

<div class="home"></div>
<div class="pagination-wrapper"></div>
<div class="error"></div>

<script type="text/javascript">
  String.prototype.replaceAll = function(org, dest) {
      return this.split(org).join(dest);
  }
  String.prototype.isNumber = function() {
    var s = this;
    s = s.replace(/^\s*|\s*$/g, ''); // 좌우 공백 제거
    if (s == '' || isNaN(s)) return false;
    return true;
  }
  Date.prototype.dateToStr = function() {
    var months = ['Jan', 'Feb', 'Mar', 'Apr',
  'May', 'Jun', 'Jul', 'Aug',
  'Sep', 'Oct', 'Nov', 'Dec'];
    var year = this.getFullYear();
    var month = this.getMonth() + 1;
    var date = this.getDate();
    if(date<10) date = '0' + date;
    return months[month-1] + ' ' + date + ", " + year;
  }

  $(document).ready(function(){
    function loadHTML() {
      const href = location.href;
      const url = new URL(href);
      const pathname = url.pathname;
      // 현재 페이지
      var currentPage = -1;
      if (pathname == '/') {
        currentPage = 1;
      } else {
        var pageNumber = url.pathname.replaceAll('/', '').replace('page', '');
        if (pageNumber.isNumber()) {
          currentPage = pageNumber;
        }
      }
      console.log('url.pathname: '+url.pathname);
      console.log("url.pathname.replaceAll('/', '').replace('page', ''):"+ url.pathname.replaceAll('/', '').replace('page', ''));
      console.log('currentPage: '+currentPage);
      if (currentPage == -1) { //error Page
        // post Array
        const posts = JSON.parse($('.post-array').html());
        var redirectURL = '';
        for (var i=0;i<posts.length;i++) {
          var post = posts[i];
          if (post.path.replaceAll(' ', '') != '' && pathname.includes(post.path)) {
            redirectURL = post.link;
            break;
          }
        }
        if (redirectURL == "") { //error Page
          // window.location.href = 'https://www.notion.so/pikachu987/Study-848fed3b628943bb945734c3ffe82d16';
        } else {
          window.location.href = redirectURL;
        }
      } else {
        // post Array
        const posts = JSON.parse($('.post-array').html());
        // 한페이지에 row 갯수
        const countList = $('.post-paginate').html();
        // 전체 페이지 갯수 더블
        const totalPageDouble = posts.length / countList;
        // 전체 페이지 갯수 인트
        const totalPageInt = Math.floor(totalPageDouble);
        // 전체 페이지 갯수
        const totalPage = (totalPageDouble) == totalPageInt ? totalPageInt : totalPageInt + 1;
        // Posts
        postsHTML(posts, currentPage, totalPage);
        // Pagination
        paginationHTML(currentPage, totalPage);
      }
    }


    function errorHTML() {
      var html = '';
      html += '<style type="text/css" media="screen">';
      html += '.container {margin: 10px auto;max-width: 600px;text-align: center;}';
      html += 'h1 {margin: 30px 0;font-size: 4em;line-height: 1;letter-spacing: -1px;}';
      html += '</style>';
      html += '<div class="container">';
      html += '<h1>404</h1>';
      html += '<p><strong>Page not found :(</strong></p>';
      html += '<p>The requested page could not be found.</p>';
      html += '</div>';
      $('.error').html(html);
    }

    function postsHTML(posts, currentPage, totalPage) {
      const startIndex = (totalPage - currentPage) * 10;
      const endIndex = startIndex + 9;

      var homeHtml = "";
      homeHtml += '<ul class="post-list">';
      for (var i=0;i<posts.length;i++) {
        if (startIndex <= i && i <= endIndex) {
          var post = posts[i];
          var date = new Date(post.date);
          var postHtml = ''
          postHtml += '<li class="post-row">';
          postHtml += '<span class="post-meta">' + date.dateToStr() + '</span>';
          postHtml += '<h3>';
          postHtml += '<a class="post-link" href="' + post.link + '">' + post.title + '</a>';
          postHtml += '<div class="post-summary">' + post.summary + '</div>';
          postHtml += '</h3>';
          postHtml += '</li>';
          homeHtml = postHtml + homeHtml;
        }
      }
      homeHtml += '</ul>';
      $('.home').html(homeHtml);
    }

    function paginationHTML(currentPage, totalPage) {
      var siteBaseUrl = $(".site-baseurl").html();
      var start = currentPage - 2;
      var end = currentPage + 2;

      if (start < 1) {
        start = 1;
        end = start + 4;
      } else if (end > totalPage) {
        start = totalPage - 4;
        end = totalPage;
      }

      if (start < 1) {
        start = 1;
      }
      if (end > totalPage) {
        end = totalPage;
      }

      var pageHTML = '';
      pageHTML += '<div class="pagination">';
      if (currentPage >= totalPage) {
        if (currentPage == 2) {
          pageHTML += '<a class="pagination-step" href="' + siteBaseUrl + '/">Newer</a>';
        } else {
          pageHTML += '<a class="pagination-step" href="' + siteBaseUrl + '/' + (Number(currentPage) - 1) + '">Newer</a>';
        }
      } else {
        pageHTML += '<span class="pagination-step pagination-newer">Newer</span>';
      }
      if (start > 1) {
        pageHTML += '<a class="pagination-first" href="' + siteBaseUrl + '/">1</a>';
        pageHTML += '<span class="pagination-more">&middot;&middot;&middot;</span>';
      }
      for (var i=start;i<=end;i++) {
        if (i == currentPage) {
          pageHTML += '<span class="active">' + i + '</span>';
        } else if (i == 1) {
          pageHTML += '<a href="' + siteBaseUrl + '/">' + i + '</a>';
        } else {
          pageHTML += '<a href="' + siteBaseUrl + '/page' + i + '">' + i + '</a>';
        }
      }
      if (end < totalPage) {
        pageHTML += '<span class="pagination-more">&middot;&middot;&middot;</span>';
        pageHTML += '<a class="pagination-last" href="' + siteBaseUrl + '/page'+ totalPage +'">' + totalPage + '</a>';
      }
      if (currentPage < totalPage) {
        pageHTML += '<a class="pagination-step" href="' + siteBaseUrl + '/page'+ (Number(currentPage) + 1) +'">Older</a>';
      } else {
        pageHTML += '<span class="pagination-step pagination-order">Older</span>';
      }
      pageHTML += '</div>';
      $('.pagination-wrapper').html(pageHTML);
    }

    loadHTML();
  });
</script>
